

*{
    margin: 0;
    padding: 0;
}

h1{
 margin:15px 0;
 text-align: center;
 height: 10px;
}
 


  a{
    flex: auto;
    
    color: rgba(31, 31, 163, 0.646);
    width: 30px;
 }
 main{

    display: grid;
    grid-template-columns:  auto 90%vw auto; /* Essa propriedade define quantas colunas o grid vai ter e o tamanho de cada uma.*/
   
 }
  p{
    padding: 40px;
    font-size: 25px;
    text-indent: 20px; /* Espaço do parágrafo.*/
    line-height: 35px;
    display: flex;
    text-align: justify; /* Serve para alinhar o texto dos dois lados.*/
    justify-content: center; /* Centraliza o texto.*/

    

 }


header{
    background-color: rgba(100, 148, 237, 0.345);
    color: black;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Alinha os itens no final do container.*/
    align-content: flex-end; /* Joga para baixo.*/

}
#ficha h1{
    padding: 20px;
}
#ficha img.foto{
    width: 250px;
    aspect-ratio: 1/1; /* Fica um quadradinho achatado.*/
    object-fit:inherit ; /* Serve para controlar como uma imagem se ajusta dentro de um container.*/
    border-radius: 50%;
    border: 5px solid rgba(231, 122, 79, 0.756);
    outline: 5px solid rgba(10, 1, 1, 0.471); /* É uma linha que fica ao redr de um elemento.*/
    display: block;
    margin: auto;
    margin-top: 25px;
}
nav#menu ul{
    list-style: none;
    padding: 10px;
    display: flex; /* É uma forma de organizar os elemento dentro de um container, deixando eles mais fáceis de alinhar e posicionar.*/
    gap: 10px; /* Serve para criar um espaço entre os itens do grid*/
    
}
nav#menu a{
    text-decoration: none;
    color: black;
    font-weight: 600; /* Define a espessura (grossura) da fonte.*/
    border-radius: 5px;
    padding: 12px 15px;

}
nav#menu a:hover{
    background-color: rgba(122, 122, 241, 0.38);
    padding: 5px;
    transition-duration: 1s;
    
}
div#social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

   width: 0;
   height: 0;

   padding: 15px;
   margin: 0;

}
#social{
    text-align: center;
    margin-bottom: 20px;
}
#detalhes{

}
article{
    padding: 20px;
    background-color: rgba(255, 250, 205, 0.424);
    margin-bottom:20px;
    border-radius: 8px;
}
#video{
    position: relative;
    width: 100%; /* Largura */
    margin: auto;
    aspect-ratio: 16/9; /* Video deitado.*/
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}
iframe{
    position: absolute;
    
}
